@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,600,700,800);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #383838;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 73.125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.button._fw {
  width: 100%;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  border: 1px solid #eee;
}

.input._form-focus {
  outline: none;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox._tab-active .checkbox__label:before {
  border: 0.0625rem solid rgba(13, 255, 198, 0.8);
}

.checkbox._tab-active .checkbox__label::after {
  background: rgba(13, 255, 198, 0.8);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #6fcef2;
          box-shadow: 0 0 5px #6fcef2;
}

.checkbox__input:checked + .checkbox__label:before {
  border: 0.0625rem solid rgba(13, 255, 198, 0.8);
}

.checkbox__input:checked + .checkbox__label:after {
  background: rgba(13, 255, 198, 0.8);
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 17px;
  font-weight: 400;
  color: #383838;
}

.checkbox__label:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13px;
          flex: 0 0 13px;
  width: 13px;
  height: 13px;
  border: 1px solid rgba(56, 56, 56, 0.8);
  margin-top: 0.1875rem;
}

.checkbox__label::after {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  position: absolute;
  top: 0.34375rem;
  left: 0.15625rem;
  background-color: #6fcef2;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__close {
  position: absolute;
  top: 0.625rem;
  right: 0.3125rem;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.popup__close::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
  left: 0;
  top: 0;
  border-radius: 0.1875rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #000;
  left: 0;
  top: 0;
  border-radius: 0.1875rem;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup_show {
  z-index: 15000;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 20px;
  width: 100%;
  position: relative;
  z-index: 100;
}

.lock .popup__content {
  visibility: visible;
}

.consultation-content {
  max-width: 62.5rem;
}

.consultation-content__title {
  margin-bottom: 1.5625rem;
  text-align: center;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
  color: #101010;
}

.consultation-content__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.625rem;
}

.consultation-content__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 44% auto;
  grid-template-columns: 44% auto;
  gap: 0.625rem;
}

.block-consultation__label {
  padding-top: 0.9375rem;
  position: relative;
  font-weight: 600;
  color: #101010;
}

.block-consultation__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 2px;
  background-color: #101010;
}

.block-consultation__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 38% auto;
  grid-template-columns: 38% auto;
  gap: 0.625rem;
}

.block-consultation__body-g {
  -ms-grid-columns: 40% auto;
  grid-template-columns: 40% auto;
}

.block-consultation__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.9375rem;
}

.block-consultation__input input {
  min-height: 38px;
  background-color: #ffffff;
  border: 1px solid rgba(13, 255, 198, 0.8);
}

.block-consultation__input textarea {
  border: 1px solid rgba(56, 56, 56, 0.8);
  width: 100%;
  resize: vertical;
  max-height: 10rem;
  outline: none;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
}

.block-consultation__lead {
  color: #383838;
}

.block-consultation__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-column-gap: 0.125rem;
     -moz-column-gap: 0.125rem;
          column-gap: 0.125rem;
}

.block-consultation__text p {
  color: #383838;
  line-height: 130%;
}

.block-consultation__text p a {
  color: #00a8e8;
  text-decoration: underline;
}

.block-consultation__text span {
  color: #3dffd1;
}

.block-consultation__text:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.total-consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
}

.total-consultation__label {
  color: #383838;
}

.total-consultation__price {
  min-height: 36px;
  background-color: #e5fff9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 800;
  text-transform: uppercase;
  color: #383838;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
}

.actions-consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.actions-consultation__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  position: relative;
  text-align: center;
}

.actions-consultation__button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  top: 15%;
  left: 2%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-consultation__request {
  background-color: #00a8e8;
  color: #fff;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.actions-consultation__request::after {
  border: 0.125rem solid #00a8e8;
}

.links-popup {
  max-width: 34.375rem;
}

.links-popup__title {
  margin-bottom: 1.25rem;
}

.links-content__label {
  margin-bottom: 1.25rem;
}

.links-content__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.9375rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}

.links-content__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #a9a9a9;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

@media (min-width: 47.99875em) {
  .actions-consultation__button {
    text-transform: uppercase;
  }
}

@media (min-width: 75.625em) {
  .checkbox__label {
    font-size: 0.875rem;
  }

  .popup__close {
    top: 0.9375rem;
  }

  .popup__close {
    right: 0.625rem;
  }

  .consultation-content {
    padding-top: 2.5rem;
  }

  .consultation-content {
    padding-left: 2.5rem;
  }

  .consultation-content {
    padding-right: 2.5rem;
  }

  .consultation-content {
    padding-bottom: 2.5rem;
  }

  .consultation-content__title {
    font-size: 1.5625rem;
  }

  .consultation-content__grid {
    -webkit-column-gap: 3.9375rem;
       -moz-column-gap: 3.9375rem;
            column-gap: 3.9375rem;
  }

  .block-consultation:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .block-consultation__label {
    margin-bottom: 1.5625rem;
  }

  .block-consultation__label {
    font-size: 1rem;
  }

  .block-consultation__line {
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .block-consultation__lead {
    margin-bottom: 1.5rem;
  }

  .block-consultation__lead {
    font-size: 1.125rem;
  }

  .block-consultation__total {
    margin-bottom: 1.875rem;
  }

  .block-consultation__text p {
    font-size: 0.875rem;
  }

  .total-consultation__label {
    font-size: 1rem;
  }

  .total-consultation__price {
    font-size: 1.125rem;
  }

  .total-consultation__price {
    padding-left: 3.3125rem;
  }

  .total-consultation__price {
    padding-right: 3.3125rem;
  }

  .actions-consultation {
    -webkit-column-gap: 4.6875rem;
       -moz-column-gap: 4.6875rem;
            column-gap: 4.6875rem;
  }

  .actions-consultation__button {
    min-height: 3.4375rem;
  }

  .actions-consultation__button {
    font-size: 0.875rem;
  }

  .actions-consultation__request {
    padding-left: 3.125rem;
  }

  .actions-consultation__request {
    padding-right: 3.125rem;
  }

  .links-popup {
    padding-top: 1.875rem;
  }

  .links-popup {
    padding-left: 1.875rem;
  }

  .links-popup {
    padding-right: 1.875rem;
  }

  .links-popup {
    padding-bottom: 1.875rem;
  }

  .links-popup__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 50em) {
  .consultation-content__grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 20em) {
  .checkbox__label {
    font-size: 0.75rem;
  }

  .popup__close {
    top: 1.25rem;
  }

  .popup__close {
    right: 0.625rem;
  }

  .consultation-content {
    padding-top: 1.25rem;
  }

  .consultation-content {
    padding-left: 1.25rem;
  }

  .consultation-content {
    padding-right: 1.25rem;
  }

  .consultation-content {
    padding-bottom: 1.25rem;
  }

  .consultation-content__title {
    font-size: 1rem;
  }

  .consultation-content__grid {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .block-consultation:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .block-consultation__label {
    margin-bottom: 1.25rem;
  }

  .block-consultation__label {
    font-size: 0.875rem;
  }

  .block-consultation__line {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .block-consultation__lead {
    margin-bottom: 0.9375rem;
  }

  .block-consultation__lead {
    font-size: 1rem;
  }

  .block-consultation__total {
    margin-bottom: 1.25rem;
  }

  .block-consultation__text p {
    font-size: 0.75rem;
  }

  .total-consultation__label {
    font-size: 0.875rem;
  }

  .total-consultation__price {
    font-size: 1rem;
  }

  .total-consultation__price {
    padding-left: 1.5rem;
  }

  .total-consultation__price {
    padding-right: 1.5rem;
  }

  .actions-consultation {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
  }

  .actions-consultation__button {
    min-height: 2.375rem;
  }

  .actions-consultation__button {
    font-size: 0.8125rem;
  }

  .actions-consultation__request {
    padding-left: 0.9375rem;
  }

  .actions-consultation__request {
    padding-right: 0.9375rem;
  }

  .links-popup {
    padding-top: 1.25rem;
  }

  .links-popup {
    padding-left: 1.25rem;
  }

  .links-popup {
    padding-right: 1.25rem;
  }

  .links-popup {
    padding-bottom: 1.25rem;
  }

  .links-popup__title {
    font-size: 1.125rem;
  }
}

@media (max-width: 47.99875em) {
  .consultation-content__row {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 2.5rem;
  }

  .block-consultation:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .block-consultation__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .block-consultation__body-g {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .actions-consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .actions-consultation__button {
    width: 100%;
  }

  .links-content__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 29.99875em) {
  .popup__close {
    top: 0.625rem;
    right: 0.3125rem;
    width: 0.9375rem;
    height: 0.9375rem;
  }

  .block-consultation__line {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 0.9375rem;
  }

  .actions-consultation__request {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .links-content__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 0.75rem , 0.7050561798rem  +  0.2247191011vw , 0.875rem )) {
    .checkbox__label {
      font-size: clamp( 0.75rem , 0.7050561798rem  +  0.2247191011vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7050561798rem  +  0.2247191011vw , 0.875rem )) {
    .checkbox__label {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (top: clamp( 0.9375rem , 1.3623595506rem  +  -0.5617977528vw , 1.25rem )) {
    .popup__close {
      top: clamp( 0.9375rem , 1.3623595506rem  +  -0.5617977528vw , 1.25rem );
    }
}

@supports not (top: clamp( 0.9375rem , 1.3623595506rem  +  -0.5617977528vw , 1.25rem )) {
    .popup__close {
      top: calc(1.25rem + -0.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (right: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem )) {
    .popup__close {
      right: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem );
    }
}

@supports not (right: clamp( 0.625rem , 0.625rem  +  0vw , 0.625rem )) {
    .popup__close {
      right: calc(0.625rem + 0 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-top: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-left: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-left: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-right: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-right: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) {
    .consultation-content {
      padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.797752809rem  +  1.0112359551vw , 1.5625rem )) {
    .consultation-content__title {
      font-size: clamp( 1rem , 0.797752809rem  +  1.0112359551vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.797752809rem  +  1.0112359551vw , 1.5625rem )) {
    .consultation-content__title {
      font-size: calc(1rem + 0.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem )) or (column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem ))) {
    .consultation-content__grid {
      -webkit-column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem );
         -moz-column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem );
              column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem )) or (column-gap: clamp( 0.625rem , -0.566011236rem  +  5.9550561798vw , 3.9375rem ))) {
    .consultation-content__grid {
      -webkit-column-gap: calc(0.625rem + 3.3125 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(0.625rem + 3.3125 * (100vw - 20rem) / 55.625);
              column-gap: calc(0.625rem + 3.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .block-consultation:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .block-consultation:not(:last-child) {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem )) {
    .block-consultation__label {
      margin-bottom: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem )) {
    .block-consultation__label {
      margin-bottom: calc(1.25rem + 0.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .block-consultation__label {
      font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .block-consultation__label {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem )) or (column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem ))) {
    .block-consultation__line {
      -webkit-column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem );
         -moz-column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem );
              column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem )) or (column-gap: clamp( 0.9375rem , -0.2984550562rem  +  6.1797752809vw , 4.375rem ))) {
    .block-consultation__line {
      -webkit-column-gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 55.625);
              column-gap: calc(0.9375rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.735252809rem  +  1.0112359551vw , 1.5rem )) {
    .block-consultation__lead {
      margin-bottom: clamp( 0.9375rem , 0.735252809rem  +  1.0112359551vw , 1.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.735252809rem  +  1.0112359551vw , 1.5rem )) {
    .block-consultation__lead {
      margin-bottom: calc(0.9375rem + 0.5625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .block-consultation__lead {
      font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .block-consultation__lead {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .block-consultation__total {
      margin-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .block-consultation__total {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.75rem , 0.7050561798rem  +  0.2247191011vw , 0.875rem )) {
    .block-consultation__text p {
      font-size: clamp( 0.75rem , 0.7050561798rem  +  0.2247191011vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.75rem , 0.7050561798rem  +  0.2247191011vw , 0.875rem )) {
    .block-consultation__text p {
      font-size: calc(0.75rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .total-consultation__label {
      font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8300561798rem  +  0.2247191011vw , 1rem )) {
    .total-consultation__label {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .total-consultation__price {
      font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .total-consultation__price {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 1.5rem , 0.8483146067rem  +  3.2584269663vw , 3.3125rem )) {
    .total-consultation__price {
      padding-left: clamp( 1.5rem , 0.8483146067rem  +  3.2584269663vw , 3.3125rem );
    }
}

@supports not (padding-left: clamp( 1.5rem , 0.8483146067rem  +  3.2584269663vw , 3.3125rem )) {
    .total-consultation__price {
      padding-left: calc(1.5rem + 1.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 1.5rem , 0.8483146067rem  +  3.2584269663vw , 3.3125rem )) {
    .total-consultation__price {
      padding-right: clamp( 1.5rem , 0.8483146067rem  +  3.2584269663vw , 3.3125rem );
    }
}

@supports not (padding-right: clamp( 1.5rem , 0.8483146067rem  +  3.2584269663vw , 3.3125rem )) {
    .total-consultation__price {
      padding-right: calc(1.5rem + 1.8125 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem )) or (column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem ))) {
    .actions-consultation {
      -webkit-column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem );
         -moz-column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem );
              column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem )) or (column-gap: clamp( 0.625rem , -0.8356741573rem  +  7.3033707865vw , 4.6875rem ))) {
    .actions-consultation {
      -webkit-column-gap: calc(0.625rem + 4.0625 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(0.625rem + 4.0625 * (100vw - 20rem) / 55.625);
              column-gap: calc(0.625rem + 4.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (min-height: clamp( 2.375rem , 1.9929775281rem  +  1.9101123596vw , 3.4375rem )) {
    .actions-consultation__button {
      min-height: clamp( 2.375rem , 1.9929775281rem  +  1.9101123596vw , 3.4375rem );
    }
}

@supports not (min-height: clamp( 2.375rem , 1.9929775281rem  +  1.9101123596vw , 3.4375rem )) {
    .actions-consultation__button {
      min-height: calc(2.375rem + 1.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 0.8125rem , 0.7900280899rem  +  0.1123595506vw , 0.875rem )) {
    .actions-consultation__button {
      font-size: clamp( 0.8125rem , 0.7900280899rem  +  0.1123595506vw , 0.875rem );
    }
}

@supports not (font-size: clamp( 0.8125rem , 0.7900280899rem  +  0.1123595506vw , 0.875rem )) {
    .actions-consultation__button {
      font-size: calc(0.8125rem + 0.0625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) {
    .actions-consultation__request {
      padding-left: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) {
    .actions-consultation__request {
      padding-left: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) {
    .actions-consultation__request {
      padding-right: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.1509831461rem  +  3.9325842697vw , 3.125rem )) {
    .actions-consultation__request {
      padding-right: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-top: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-top: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-left: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-right: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0252808989rem  +  1.1235955056vw , 1.875rem )) {
    .links-popup {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.125rem , 1.0800561798rem  +  0.2247191011vw , 1.25rem )) {
    .links-popup__title {
      font-size: clamp( 1.125rem , 1.0800561798rem  +  0.2247191011vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0800561798rem  +  0.2247191011vw , 1.25rem )) {
    .links-popup__title {
      font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}
}

@media (any-hover: hover) {
  .block-consultation__text p a:hover {
    text-decoration: none;
  }

  .actions-consultation__button:hover::after {
    top: 0;
    left: 0;
  }

  .links-content__item:hover {
    color: #00a8e8;
    text-decoration: underline;
  }
}